**/node_modules/
**/venv/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.next/
**/out/
**/*.pyc
**/*.log
**/*pid.txt
**/*.tsbuildinfo
**/.env
**/.env.*
!**/.env.example
.coverage
htmlcov/
**/*.pid
**/dist/
**/build/
**/coverage/
**/*.sqlite
**/*.sqlite3
**/*.db
**/*.tmp
.idea/
.vscode/
